/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* body */
html, body {
  /* margin:0; 
  padding:0;   */
  height:100%; 
  width: 100%;
}

body{
  background-color: whitesmoke;
}

section#about, section#contact{
  margin-left: -25%;
}

section#home, section#project{
  margin-right: -23%;
}

h1, h2, h3, h4{
  color: black;
  text-align: center;
}

h1{
  font-size: xx-large;
  font-weight:700;
}

p{
  color:black;
  text-align: center;
  /* display block */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* navigation */
#nav {
  background-color: grey;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  font-size: 20px; 
  text-decoration-color: black;
}

#nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#nav a:hover {
  background-color: #ddd;
  color: black;
}

#nav a.active {
  background-color: #04AA6D;
  color: white;
}

/* components */
/* home */
#home{
background-color: whitesmoke;
}

.my-name{
  margin-top: -0%;
  font-size: xx-large;
}

.soft-engineer{
  margin-top: -1.5%;
}

.welcome{
  margin-top: 10%;
}

/* about */
#about{
  max-height: 100vh;
}

.about-me{
  margin-top: 10%;
}

.about-text {
  width: 30%;
}

/* project */
#project{
  max-height: 100vh;
  margin-bottom: -23px;
}

.my-projects{
  margin-top: 10%;
}

/* contact */
#contact{
  margin-top: 20%;
  max-height: 200vh;
}
.contact-header{
  margin-top: 12%;
}

.email-text{
  transition: transform 250ms;
  font-size:xx-large ;
  margin-top: -0%;
}

.email-text:hover{
  transform: translateY(-5px);
}
a.email{
  margin-left: 45.5%;
}

a.email:link, a.email:visited {
  text-decoration: none;
}

a.email:hover, a.email:active {
  text-decoration: none;
}

.opportunities {
margin-top: -1%;
}

/* project images */
section.image{
  overflow: auto;
  max-height: 100vh;
  width: 55%; 
  margin-left: 22.5%;
}

section.image:hover {
  bottom: 0;
  -webkit-transition: all 11s;
  -moz-transition: all 11s;
  -ms-transition: all 11s;
  -o-transition: all 11s;
  transition: all 11s;
}

.img-day-care, .img-proj-manager, .img-common-health{
  /* border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 300px;
  margin-right: 1%; */
  /* center image */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transition: transform 250ms;
}
.img-day-care:hover, .img-proj-manager:hover, .img-common-health:hover{
  box-shadow: 0 0 5px 3px black;
  transform: translateY(-10px);
}

.img-day-care{
  margin-top: 5%;
}

div.polaroid {
  width: 40%;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 30%;
}

div.container {
  text-align: center;
  padding: 10px 20px;
  text-decoration-color: black;
}

#title-day-care, #title-proj-manager, #title-common-health{
  color: black
}

/* footer */
#footer{
  color: black;
  text-align: center;
  margin-top: 10%;
}

